# Output files
src/*.s
src/**/*.s
*.o
*.elf
*.gba
*.map
*.4bpp
*.8bpp
*.gbapal
*.lz

# Tools
tools/agbcc
*.exe
*.pyc

# Emulator save files
*.sav
*.sgm

# Various other detritus that doesn't need to be tracked
Thumbs.db
.DS_Store
*.dump
*.spr
zeldaalttp.gba.pal
baserom.gba.pal
.idea/
